.vscode/*
.ipynb_checkpoints/*
*/__pycache__/*
ideas/*
.idea/
.pytest_cache/**
*.pyc
experiment/stanford_car_dataset_images_in_224x224/*
experiments/stanford-car-dataset-by-classes-folder-224/*
playground.py
*.log
glue_data/**
wikitext-2-raw/**
papers/*
.mypy_cache/

old/
squad1/*
squad2/*
cached_train_bert*
results/
py_sbatch.sh
glue_ds.*
original_acyclic_partitioning/*
dynamic_acyclic_partitioning/*
datasets/*
