.vscode/*
.ipynb_checkpoints/*
modelParallel/__pycache__/*
data/*
models/__pycache__/*
*/__pycache__/*
__pycache__/*
ideas/*
.idea/
.pytest_cache/**
playground/**
model_partition/graph/__pycache__/
*.pyc
main.py
experiments/stanford-car-dataset-by-classes-folder-224/*
