.vscode/*
.ipynb_checkpoints/*
modelParallel/__pycache__/*
data/*
models/__pycache__/*
*/__pycache__/*
__pycache__/*
ideas/*
.idea/
.pytest_cache/**
playground/**
model_partition/graph/__pycache__/
*.pyc
main.py
experiment/stanford_car_dataset_images_in_224x224/*
experiments/stanford-car-dataset-by-classes-folder-224/*
playground.py
trace.txt
inc.pdf
*.pdf
generated_modules.py
*.log
transformer_example/**
transformer_trace.txt
generated*
*Bug*
glue_data/**
wikitext-2-raw/**